h1, p {
  font-family: Lato;
}

body {
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.App {
  display: flex;
  justify-content: center;
  
}